:root {
    /* Agrega las fuentes aqui */
    --dark-cyan: hsl(158, 36%, 37%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --cream: hsl(30, 38%, 92%);
    --gray: hsl(228, 12%, 48%);
    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--montserrat);
    background-color: var(--cream);
    font-size: 1.6rem;
    line-height: 2rem;
}

h1 {
    margin: 0;
    line-height: 3rem;
}

p {
    font-size: 1.4rem;
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* Utils */

.second-font {
    font-family: var(--fraunces);
}

.card {
    background-color: white;
    border-radius: 1rem;
}

.card-img {
    height: 24rem;
    width: auto;
    background-image: url('/images/image-product-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.card-info {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
}

.addCart-button {
    color: white;
    width: 29.5rem;
    height: 4.8rem;
    background-color: var(--dark-cyan);
    border-radius: 0.8rem;
    border: none;
    align-self: center;
}

.price-content {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.price {
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-cyan);
}

.discount {
    text-decoration: line-through;
}